<div class="container col-6 p-3 mb-2 mt-4 bg-dark text-white rounded-lg text-center">
  <h5>Czytnik repozytoriów GitHub danego użytkownika </h5><br>
  Piotr Dopierała '2019
</div>
<div class="container col-6 p-3 mb-2 bg-dark text-white rounded-lg text-center">
  <form>
    <div>
      <label for="gihubUserNameInput">Użytkownik GitHub:</label>
      <input type="text" id="gihubUserNameInput">
    </div>
    <button type="submit" class="btn btn-primary mt-2">wyświetl repozytoria</button>
  </form>
</div>

<router-outlet></router-outlet>
