<div id="repositoriesList" class="container col-10 p-3 mb-2 bg-dark text-white rounded-lg text-center">
    Repozytoria:
    <div>
      <ul>
        <li *ngFor="let repo of repositories; let i=index">
          <div class="text-left">
            <a  target="_blank" href="{{repo.url}}">{{repo.name}}</a>, created at {{repo.createdAt | date:'medium'}}<br>
            {{repo.description}}
            <i *ngIf="repo.description == null">no description available</i><br>
            <br>
          </div>
        </li>
      </ul>
    </div>
  </div>
